{% extends 'fragments/base.html' %}

{% block title %}Carrito{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a 
        class="text-decoration-none" 
        href="{% url 'mainApp:inicio' %}">Inicio</a>
      </li>
    <li class="breadcrumb-item">
      <a 
        class="text-decoration-none" 
        href="{% url 'mainApp:menu' %}">Menu</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Carrito</li>
  </ol>
</nav>
<br>
<h1>Carrito</h1>
<hr>
<p class="my-3">
  Estos productos se encuentran actualmente en tu carrito, puedes 
  editarlos aún o removerlos antes de hacer el pedido apretando el
  botón <b>Hacer pedido</b>.
</p>
<table class="table table-sm table-striped my-5">
  <thead>
    <tr>
      <th scope="col" class="text-center">#</th>
      <th scope="col" class="text-center">Producto</th>
      <th scope="col" class="text-center">Precio</th>
      <th scope="col" class="text-center">Subtotal</th>
      <th scope="col" class="text-center">
        <i class="bi bi-dash"></i>
      </th>
      <th scope="col" class="text-center">Cantidad</th>
      <th scope="col" class="text-center">
        <i class="bi bi-plus"></i>
      </th>
      <th scope="col" class="text-center">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {% for pedido in carrito.pedidos.all %}
    <tr>
      <th scope="row" class="text-center">
        {{ pedido.platillo.id }}
      </th>
      <td class="text-center">
        {{ pedido.platillo.nombre }}
      </td>
      <td class="text-center">
        $ {{ pedido.platillo.precio }}
      </td>
      <td class="text-center">
        <b>
          $ {{ pedido.get_subtotal }}
        </b>
      </td>
      <td class="text-center">
        <button 
          type="button" 
          onclick="disminuirCantidad({{ pedido.platillo.id }})"
          class="btn btn-link btn-sm text-secondary">
          <i class="bi bi-dash"></i>
        </button>
      </td>
      <td class="text-center" id="counter{{pedido.platillo.id}}">
        {{ pedido.cantidad }}
      </td>
      <td class="text-center">
        <button 
          type="button" 
          onclick="aumentarCantidad({{ pedido.platillo.id }})"
          class="btn btn-link btn-sm text-primary">
          <i class="bi bi-plus"></i>
        </button>
      </td>
      <td class="text-center">
        <button 
          type="button" 
          onclick="eliminarPlatillo({{ pedido.platillo.id }})"
          class="btn btn-link btn-sm text-danger">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<form method="POST" action="{% url 'mainApp:carrito' %}">
  <div style="display:none">
    <input 
      type="hidden" 
      name="csrfmiddlewaretoken" 
      value="{{ csrf_token }}" />
  </div>
  <button 
    type="submit" 
    onclick="hacerPedido()"
    class="btn btn-outline-primary float-end">
    <i class="bi bi-cart"></i> Hacer pedido
  </button>
</form>
<br>
<br>
<br>
<h1 class="animate__animated animate__fadeInLeft">Historial de pedidos</h1>
<hr>
<p class="my-3">
Estos son los pedidos que se han hecho durante su estadía en el restaurante,
las tarifas con impuestos se muestran al final. Se agradece su propina.
</p>
{% for pedido in orden.pedidos.all %}
<table class="table table-sm table-striped my-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio</th>
      <th scope="col">Subtotal</th>
    </tr>
  </thead>
  <tbody>
    {% for pedido in pedido.platillo.all %}
    <tr>
      <th scope="row">{{ pedido.platillo.id }}</th>
      <td class="text-center">{{ pedido.platillo.nombre }}</td>
      <td class="text-center">{{ pedido.cantidad }}</td>
      <td class="text-center">${{ pedido.platillo.precio }}</td>
      <td class="text-center">${{ pedido.get_subtotal }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
{% endfor %}
<form method="POST" action="{% url 'mainApp:carrito' %}" >
  <div style="display:none">
    <input 
      type="hidden" 
      name="csrfmiddlewaretoken" 
      value="{{ csrf_token }}" />
  </div>
  <button 
    type="submit" 
    onclick="cerrarCuenta()"
    class="btn btn-outline-success float-end">
    <i class="bi bi-currency-dollar"></i> Solicitar cuenta
  </button>
</form>
<br>
<br>
<br>
<br>
<br>

{% endblock %}


{% block scripts %}
<script type="text/javascript">

/**
 * Función que decrementa en uno la cantidad de elementos a agregar
 * al carrito del platillo especificado.
 *
 * @param {number} identificador del platillo.
*/
function disminuirCantidad(platilloId) {
  let count = parseInt($('#counter' + platilloId).text());
  if (count > 1) {
    $.ajax("{% url 'mainApp:carrito' %}", {
      type: 'PUT',
      data: {
        platillo: parseInt(platilloId),
        cantidad: count - 1
      },
      success: function (res) {
        location.reload();
      },
      error: function (err) {
        console.error(err);
      }
    });
  }
}

/**
 * Función que incrementa en uno la cantidad de elementos a agregar
 * al carrito del platillo especificado.
 *
 * @param {number} identificador del platillo.
*/
function aumentarCantidad(platilloId) {
  let count = parseInt($('#counter' + platilloId).text());
  $.ajax("{% url 'mainApp:carrito' %}", {
    type: 'PUT',
    data: {
      platillo: parseInt(platilloId),
      cantidad: count + 1
    },
    success: function (res) {
      location.reload();
    },
    error: function (err) {
      console.error(err);
    }
  });
}

/**
 * Función que elimina todas las ocurrencias de un platillo del carrito.
 *
 * @param {number} identificador del platillo.
*/
function eliminarPlatillo(platilloId) {
  $.ajax("{% url 'mainApp:carrito' %}", {
    type: 'DELETE',
    data: {
      platillo: parseInt(platilloId)
    },
    success: function (res) {
      location.reload();
    },
    error: function (err) {
      console.error(err);
    }
  });
}

/**
 * Función que manda el pedido actual a la orden para que los pedidos
 * sean preparados en la cocina.
*/
function hacerPedido() {
  $.ajax("{% url 'mainApp:carrito' %}", {
    type: 'POST',
    data: {
      platillo: parseInt(platilloId)
    },
    success: function (res) {
      location.reload();
    },
    error: function (err) {
      console.error(err);
    }
  });
}

/**
 * Función para indicar que la estadía en el restaurante ha terminado y el
 * postre puede empezar a servirse.
*/
function cerrarCuenta() {
  $.ajax("{% url 'mainApp:carrito' %}", {
    type: 'POST',
    data: {},
    success: function (res) {
      location.reload();
    },
    error: function (err) {
      console.error(err);
    }
  });
}


</script>
{% endblock %}