{% extends 'fragments/base.html' %}

{% block title %} Tus órdenes {% endblock %}

{% block content %}
    <div class="container">
        
        <br>
        <br>
        <h1>Carrito</h1><hr>

        Sobre nosotros {% lorem 1 b random %}   
        {% lorem 1 b random %}   

        <br>
        <br>
        {% lorem 1 b random %}   

        <br>
        <br>
        {% lorem 1 b random %}   

        <br>
        <br>
        <h1>Historial de ordenes</h1>
        <hr>
        <br>
        <br>
    </div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    console.log('Hola mundo');
})
</script>
{% endblock %}