{% extends 'fragments/base.html' %}

{% block title %}Contacto{% endblock %}







{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a
        class="text-decoration-none"
        href="{% url 'mainApp:inicio' %}">Inicio</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <a>Contacto</a>
    </li>
  </ol>
</nav>

<br>
<h1>Contacto</h1>
<hr>
<br>

<div class="jumbotron">
  <h1 class="display-4 my-3">¡Hola, 50Amigo!</h1>
  <p class="lead">
    Toda nuestra información empresarial y de contacto estará listada muy
    pronto aquí!
  </p>
  <br>
  <ul>
    <li>
      <b>Número de teléfono:</b> <i>(+52) 55 1122 3344</i>
    </li>
    <li>
        <b>Equipo de desarrollo:</b> <i>Orion</i>
    </li>
    <li>
      <b>Dirección:</b> <i>Investigación Científica, C.U., Coyoacán, 04510
      Ciudad de México, CDMX.</i>
    </li>
  </ul>
</div>
<br>
<br>
<hr>
<br>
<br>
<div class="card">
  <div class="card-body">
    <form method="post" class="mt-4">
      <div style="display:none">
        <input
          type="hidden"
          name="csrfmiddlewaretoken"
          value="{{ csrf_token }}" />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          class="form-control mt-3"
          id="email"
          name="email"
          type="email"
          placeholder="Introduzca su correo electrónico para suscribirte a nuestras promociones!"/>
        <br>
      </div>
      <div class="d-grid gap-2">
        <button
          type="submit"
          class="btn btn-outline-primary float-end"
          role="button">Suscribirme</button>
      </div>
    </form>
  </div>
</div>
<br>
<br>
<br>
{% endblock %}
