{% extends 'fragments/base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}
<div class="container">

  <br>
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
      <a href="{% url 'mainApp:inicio' %}">Inicio</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Contacto</li>
  </ol>
  </nav>

  <br>
  <h1 class="animate__animated animate__fadeInLeft">Contacto</h1>
  <br>
  Toda nuestra información empresarial y de contacto estará listada muy pronto
  aquí!
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
{% endblock %}