{% extends 'fragments/base.html' %}
{% load static %}

{% block title %}Index{% endblock %}







{% block styles %}
<style>
  .carousel-inner > .item > img {
    width:640px;
    height:360px;
  }
</style>
{% endblock %}

{% block content %}
<div>
  <br>
  <h1 class="myb-5">Inicio</h1>
  <hr>
  <br>
  <div id="carouselExample3" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/tu-anuncio-aqui.png' %}" class="d-block w-100" alt="..."  height="100" >
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <br>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/carousel1.png' %}" class="d-block w-100" alt="..."  height="30%" >
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/carousel2.png' %}" width="400" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/carousel3.jpg' %}" class="d-block w-100" height="30%" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div class="carousel-caption d-none d-md-block">
      <h5 class="text-light">
        ¿Ya probaste nuestra selección de antojitos? Aplica restricciones
      </h5>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <figure class="text-left">
      <blockquote class="blockquote">
        <cite>"El helado de chocolate es mi favorito."</cite>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">Gabriel</cite>
      </figcaption>
    </figure>
    <br>
    <figure class="text-end">
      <blockquote class="blockquote">
        <cite>"Espero volver pronto, la comida estuvo grandiosa."</cite>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">Sara</cite>
      </figcaption>
    </figure>
    <br>
    <figure class="text-left">
      <blockquote class="blockquote">
        <cite>"Sin dudas una gran experiencia culinaria."</cite>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">Pedro</cite>
      </figcaption>
    </figure>
  </div>
  <br>
  <br>
  <br>

  50Amigos surge como una empresa en 2023, motivados por la necesidad
  de optimizar el proceso de atención, además lo que más nos caracteriza
  es el hecho de que el helado es gratis! Lo único que hay que hacer
  es que todos los comensales voten por su sabor favorito y el ganador
  será el sabor servido al final de la comida, yummy!

  <br>
  <br>
  <br>
  <hr>
  <br>
  <div id="carouselExample2" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/tu-anuncio-aqui.png' %}" class="d-block w-100" alt="..."  height="100" >
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <br>
</div>
{% endblock %}







{% block scripts %}
<script>

</script>
{% endblock %}
