{% extends 'fragments/base.html' %}

{% block title %}Inicio{% endblock %}


{% block content %}
<h1>
  Bienvenido a 50Amigos! 
  <span class="badge bg-secondary">{{ user.username }}</span>
</h1>
<br>
Si gustas puedes:
<br>
<br>
<ul>
  <li>
    Verificar el estado de tu 
    <a
      class="text-decoration-none"
      href="{% url 'mainApp:carrito' %}">carrito</a>.
  </li>
  <li>
    Ver el
    <a
      class="text-decoration-none"
      href="{% url 'mainApp:menu' %}">menú</a>.
  </li>
  <li>
    Votar por el 
    <a
      class="text-decoration-none"
      href="{% url 'mainApp:votacion' %}">helado</a>.
  </li>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}


{% block scripts %}
<script>



</script>
{% endblock %}