{% extends 'fragments/base.html' %}

{% block title %}Inicio{% endblock %}


{% block content %}
<div class="container">
  <br>
  <br>
  <h1 class="animate__animated animate__fadeInLeft">Bienvenido a 50Amigos! <span class="badge bg-secondary">{{ user.username }}</span></h1>
  <br>
  Si gustas puedes <a href="{% url 'mainApp:carrito' %}">Verificar el estado de tu carrito</a> o bien
  ver el <a href="{% url 'mainApp:menu' %}">Menú</a>
  <br>
  <a href="{% url 'mainApp:votacion' %}">Votacion</a> para el helado
  <br>
  <br>
  <br>

</div>
{% endblock %}




{% block scripts %}
<script>

$(document).ready(function () {
  console.log('Hola mundo');
})

</script>
{% endblock %}