{% extends 'fragments/base.html' %}

{% block title %} Menú {% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a
      class="text-decoration-none"
      href="{% url 'mainApp:inicio' %}">Inicio</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">Menú</li>
</ol>
</nav>

<br>
<h1>Menú</h1>
<hr>
<br>
{% for categoria in categorias %}
  <h2>{{categoria.nombre}}</h2>
  <hr>
  <br>
  {% for subcategoria in categoria.subcategorias.all %}
  <h4>{{subcategoria.nombre}}</h4>
  <br>
  <div class="container">
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
      {% for platillo in subcategoria.platillos.all %}
      <div class="col text-center">
        <div
          class="card py-2" 
          style="width: 18rem;" >
          <div class="card-header">
            <h5>{{ platillo.nombre }}</h5>
          </div>
          <img src="{{ platillo.imagen }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title pricing-card-title text-muted">
              ${{ platillo.precio }}
            </h5>
            <p class="card-text">{{ platillo.descripcion }}</p>
          </div>
          {% if platillo.get_ingredientes_list %}
          <ul class="list-group list-group-flush">
            {% for ingrediente in platillo.get_ingredientes_list %}
              <li class="list-group-item text-muted">{{ ingrediente }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          <div class="card-body">
            <div class="d-grid gap-2">
              <div 
                class="btn-group" 
                role="group" 
                aria-label="Basic mixed styles example">
                <button 
                  {{ platillo.disabled_if_helado }}
                  onclick="decrementCount({{ platillo.id }})"
                  type="button" 
                  class="btn btn-outline-secondary">
                  <i class="bi bi-dash"></i>
                </button>
                <button
                  id="counter{{platillo.id}}"
                  type="button" 
                  class="btn btn-outline-secondary"
                  disabled 
                  />1</button>
                <button 
                  {{ platillo.disabled_if_helado }}
                  onclick="incrementCount({{ platillo.id }})"
                  type="button"
                  class="btn btn-outline-secondary">
                  <i class="bi bi-plus"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            <div class="d-grid gap-2">
              <button 
                {{ platillo.disabled_if_helado }}
                class="btn btn-outline-success"
                onclick="agregarAlCarrito({{ platillo.id }})" 
                class="card-link">
                <i class="bi bi-cart-plus"></i>&nbsp;
                Agregar al carrito
              </button>
            </div>
          </div>
        </div>
        <br>
      </div>
      <br>
      {% endfor %}
      
      <br>
    </div>
    
    <br>
  </div>
  <br>
  <br>
  {% endfor %}
{% endfor %}
{% endblock %}


{% block scripts %}
<script>

/**
 * Función que incrementa en uno la cantidad de elementos a agregar
 * al carrito del platillo especificado.¨
 *
 * @param {number} identificador del platillo.
*/
function incrementCount(platilloId) {
  let count = parseInt($('#counter' + platilloId).text());
  $('#counter' + platilloId).text(count + 1);
}

/**
 * Función que decrementa en uno la cantidad de elementos a agregar
 * al carrito del platillo especificado, sólo si la cuenta es mayor que 1.
 *
 * @param {number} identificador del platillo.
*/
function decrementCount(platilloId) {
  let count = parseInt($('#counter' + platilloId).text());
  if (count > 1)
    $('#counter' + platilloId).text(count - 1);
}

/**
 * Función que agrega un pedido al carrito.
 *
 * @param {number} identificador del platillo.
*/
function agregarAlCarrito(platilloId) {
  $.ajax("{% url 'mainApp:carrito' %}",{
    type: 'PUT',
    contentType: 'application/json',
    data: {
      platillo: parseInt(platilloId),
      cantidad: parseInt($('#counter' + platilloId).text())
    },
    success: function(res) {
      window.location.href = '{% url 'mainApp:carrito' %}'
    },
    error: function(err) {
      console.error(err);
    }
  });
}

</script>
{% endblock %}