{% extends 'fragments/base.html' %}
{% load static %}

{% block title %}Votación{% endblock %}


{% block styles %}
<style>
{% include 'css/global.css' %}
</style>
{% endblock %}


{# Usando modal de manera global, para que empate con AnimateCSS #}
{% block modal_header %}
  <h5
    class="modal-title animate__animated animate__headShake"
    id="tituloModal">
    Persona 1
  </h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"></button>
{% endblock %}

{% block modal_body %}
  <center>
    <img
      id="heladoImg"
      class="animate__animated animate__headShake float-center"
      src="{% static 'img/helado_kawaii.png' %}"
      alt="helado"
      width="50%">
  </center>
  <br>
  <br>
  <div class="form-group">
    <label for="nombreInput">¿Cuál es su nombre?</label>
    <input
      id="nombreInput"
      onkeyup="actualizarNombreModal()"
      type="text"
      class="form-control"
      placeholder="Juan"/>
    <br>
  </div>
  <div class="form-group">
    <label for="heladoSelect">
      ¿Qué helado vota por servir al final?
    </label>
    <select class="form-select" id ="heladoSelect"></select>
  </div>
{% endblock %}

{% block modal_footer %}
  <button
    onclick="agregarParticipante()"
    type="button"
    class="btn btn-outline-secondary">Agregar otro participante</button>
  <button
    onclick="finalizarVotacion()"
    type="button"
    class="btn btn-outline-primary"
    data-bs-dismiss="modal">Finalizar votación</button>
{% endblock %}








{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a
        class="text-decoration-none"
        href="{% url 'mainApp:inicio' %}">Inicio</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Helado</li>
  </ol>
</nav>
<br>
<h1>Helado</h1>
<hr>
{% if not orden.votacion_concluida %}
  <p>Inicia la votación para el sabor de helado!</p>
  <br>
  <button
    id="botonVotar"
    {{ orden.disabled_if_votacion_concluida }}
    class="btn btn-outline-primary"
    data-bs-toggle="modal"
    data-bs-target="#globalModal">
    Votar!
  </button>
  <br>
  <br>
  <div
    id="resultados"
    style="display: none;"
    class="text-center">
      <canvas id="myChart"></canvas>
  </div>
{% else %}
  <div class="text-black">
    La votación ya concluyó, el ganador fue:
    <b>{{ orden.helado_escogido.nombre }}</b>
    <br>
    <br>
    <center class="mt-5">
      <img
        id="heladoImg"
        class="animate__animated animate__tada float-center"
        src="{% static 'img/helado_kawaii.png' %}"
        alt="helado"
        width="50%">
    </center>
  </div>
{% endif %}
<br>
<br>
<br>
<br>
<br>
<div style="display:none">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</div>
{% endblock %}








{% block scripts %}
<script src="{% static 'js/chart.js' %}"></script>
<script>

let helados = [];
let votos = [];
let curVotante = 1;
let coloresFondo = [
  'rgba(255, 99, 132, 0.2)',
  'rgba(255, 159, 64, 0.2)',
  'rgba(255, 205, 86, 0.2)',
  'rgba(75, 192, 192, 0.2)',
];
let coloresBorde = [
  'rgb(255, 99, 132)',
  'rgb(255, 159, 64)',
  'rgb(255, 205, 86)',
  'rgb(75, 192, 192)'
];

$(document).ready(function () {
  $('#tituloModal').html('Persona ' + curVotante);
  // $('#resultados').toggle(); // No se muestran al prinicipio

  $.ajax("{% url 'mainApp:lista_helados' %}", {
    method: 'GET',
    success: function(res) {
      cargarDatosHelados(res);
      helados = res;
    },
    error: function (err) {
      console.error(err);
    }
  });
});

const ctx = document.getElementById('myChart');

/**
 * función que carga el listado de los helados en las opciones del
 * dropdown de seleccion dentro de la ventana emergente.
 */
function cargarDatosHelados(helados) {
  let res = '';

  for (let i = 0; i < helados.length; i++) {
    res += `<option value="${helados[i].id}">${helados[i].nombre}</option>`;
  }

  $('#heladoSelect').html(res);
}

/**
 * Función que actualiza el titulo de la ventana emergente para que
 * tenga el nombre de la persona escrita en el cuadro de texto.
 */
function actualizarNombreModal() {
  let val = $('#nombreInput').val();
  $('#tituloModal').html(val);
}

/**
 * Función que agrega el voto de un participante y actualiza
 * el estado de la ventana emergente para cambiarle el titulo por la persona
 * dada.
 */
function agregarParticipante() {

  let votoActual = $('#heladoSelect').val();
  $('#heladoSelect').toggleClass('animate__headShake');
  votos.push(parseInt(votoActual));

  $('#tituloModal').html("Persona " + (++curVotante));
  $('#nombreInput').val("");
  $('#tituloModal').toggleClass('animate__tada');
  $('#heladoImg').toggleClass('animate__tada');
}

/**
 * Función que manda los resultados de la votación para asignar el sabor
 * de helado a la orden actual del usuario.
 */
function finalizarVotacion() {
  $('#resultados').toggle();

  let heladoEscogido = -1;
  let max = -1;
  let freq = {};
  let data = [];

  // Cuenta la ocurrencia de cada id
  for (let i = 0; i < votos.length; i++) {
    if (!freq[votos[i]]) {
      freq[votos[i]] = 1;
    } else {
      freq[votos[i]]++;
    }
  }

  // Escoge el primero que tenga el mayor numero de votaciones
  for (let i = 0; i < helados.length; i++) {
    if (freq[helados[i].id] > max) {
      max = freq[helados[i].id];
      heladoEscogido = helados[i].id;
    }
    data.push(freq[helados[i].id]);
  }

  $.ajax("{% url 'mainApp:votacion' %}", {
    method: 'POST',
    contentType: 'application/json',
    data: {
      helado: heladoEscogido
    },
    success: function (res) {

      // Definición de la gráfica de resultados de la votación
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: helados.map(x => x.nombre),
          datasets: [{
            label: '# de votos',
            data: data,
            backgroundColor: data.map((d, i) => coloresFondo[i % coloresFondo.length]),
            borderColor: data.map((d, i) => coloresBorde[i % coloresBorde.length]),
            borderWidth: 3
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      $('#botonVotar').hide();

      // location.reload();
    },
    error: function (err) {
      console.error(err);
    }
  });
}

</script>
{% endblock %}