{% extends 'fragments/base.html' %}

{% block title %} Login {% endblock %}







{% block content %}

{%load crispy_forms_tags %}
<br>
<br>
<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <h3>Ingresa tus datos</h3>
        <hr>
        <form action="" method="post">
          {% csrf_token %}
          {{form | crispy}}
          <br>
          <small class="float-end">
            <a
              class="text-decoration-none"
              href="{% url 'admin:index' %}">
              ¿Eres un administrador?
            </a>
          </small>
          <br>
          <br>
          <div class="d-grid gap-2">
            <input
              type="submit"
              name="Ingresar"
              class="btn btn-primary float-end"/>
          </div>
        </form>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
{% endblock %}
