{% extends 'fragments/base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

{%load crispy_forms_tags %}
<div class = "container"> 
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">

            <div class="card">
                <div class="card-body">
                    <h2>Ingresa tus datos</h2>
                    <hr>
                    <form action="" method="post">

                        {% csrf_token %}
                        {{form | crispy}}
                        <br>
                        <a href="{% url 'mainApp:inicio' %}">Ir a página principal</a>
                        <br>
                        <input type="submit" name="Ingresar" class="btn btn-success float-right" >
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}