{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <title>
    {% block title %}Inicio{% endblock %}
  </title>

  <meta charset="utf-8"/>
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <link
    rel="icon"
    type="image/x-icon"
    href="{% static 'assets/favicon.ico' %}"/>
  
  <link
    href="{% static 'css/bootstrap.min.css' %}"
    rel="stylesheet"/>
  
  <link
    rel="stylesheet"
    href="{% static 'css/bootstrap-icons.css' %}"/>

  <link
    rel="stylesheet"
    href="{% static 'css/animate.min.css' %}"/>

  {% block styles %}{% endblock %}

</head>
<body>
  <main class="flex-shrink-0">

    <br>

    {# Django messages (Alertas de bootstrap) #}
    {% for message in messages %}
      <div class="container p-0 mt-5">
        <div class="alert {{ message.tags }} alert-dismissible fade show"
          role="alert">
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"></button>
        </div>
      </div>
    {% endfor %}

    {% include 'fragments/navbar.html' %}
    <br>
    <br>
    <br>

    {# Contenido #}
    <div
      id="content"
      class="container animate__animated animate__fadeInLeft">
      {% block content %}{% endblock %}
    </div>

    {# Footer #}
    <footer class="footer mt-auto py-3 bg-dark">
      <div class="container text-center">
        <span class="text-white">
          Copyright 50Amigos &copy; All rights reserved. 2023
        </span>
      </div>
    </footer>
  </main>

  {# Modal global #}
  <div class="modal" tabindex="-1" id="globalModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          {% block modal_header %}
            <h5 
              class="modal-title animate__animated animate__headShake" 
              id="tituloModal">
              Persona 1
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          {% endblock %}
        </div>
        <div class="modal-body">
          {% block modal_body %}
            <img
              id="heladoImg"
              class="animate__animated animate__headShake text-center" 
              src="{% static 'img/helados.jpg' %}" 
              alt="helado"
              width="100%">
            <div class="form-group">
              <label for="nombreInput">¿Cuál es su nombre?</label>
              <input
              id="nombreInput"
              onkeyup="actualizarNombreModal()"
              type="text"
              class="form-control"
              placeholder="Juan"/>
              <br>
            </div>
            <div class="form-group">
              <label for="heladoSelect">
                ¿Qué helado vota por servir al final?
              </label>
              <select class="form-select" id ="heladoSelect"></select>
            </div>
          {% endblock %}
        </div>
        <div class="modal-footer">
          {% block modal_footer %}
            <button 
              onclick="agregarParticipante()"
              type="button" 
              class="btn btn-outline-secondary">Agregar otro participante</button>
            <button 
              onclick="finalizarVotacion()"
              type="button" 
              class="btn btn-outline-primary"
              data-bs-dismiss="modal">Finalizar votación</button>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

  {# Scripts globales #}
  <script src="{% static 'js/jquery-3.6.4.js' %}"></script>
  <script src="{% static 'js/csrf.js' %}" ></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  {% block scripts %}{% endblock %}

</body>
</html>
