{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <title>
    {% block title %}Inicio{% endblock %}
  </title>

  <meta charset="utf-8"/>
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <link
    rel="icon"
    type="image/x-icon"
    href="{% static 'assets/favicon.ico' %}"/>
  
  <link
    href="{% static 'css/bootstrap.min.css' %}"
    rel="stylesheet"/>
  
  <link
    rel="stylesheet"
    href="{% static 'css/bootstrap-icons.css' %}"/>

  <link
    rel="stylesheet"
    href="{% static 'css/animate.min.css' %}"/>

  {% block styles %}{% endblock %}

</head>
<body>
    
  <!-- Django messages (Alertas de bootstrap) -->
  {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible fade show"
        role="alert">
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"></button>
      </div>
    </div>
  {% endfor %}

  <!-- Barra de navegacion -->
  {% include 'fragments/navbar.html' %}
  <br>
  <br>
  <br>

  <!-- Contenido -->
  <div
    id="content"
    class="container animate__animated animate__fadeInLeft">
    {% block content %}{% endblock %}
  </div>

  <!-- Footer-->
  <footer class="py-5 bg-dark">
    <div class="container px-4">
      <p class="m-0 text-center text-white">
        Copyright 50Amigos &copy; All rights reserved. 2023
      </p>
    </div>
  </footer>

  <!-- JQuery -->
  <script src="{% static 'js/jquery-3.6.4.js' %}"></script>
  
  <!--  CSRF Token -->
  <script src="{% static 'js/csrf.js' %}" ></script>

  <!-- Bootstrap core JS-->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  {% block scripts %}{% endblock %}

</body>
</html>
